{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1>Bienvenue dans ce blog !</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere distinctio facilis quas non et voluptas inventore nihil quia culpa repellendus. Quod, earum nobis natus accusamus voluptatum odit nesciunt sed animi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quibusdam impedit culpa porro accusamus nisi quia tenetur laudantium fuga et. Totam nostrum sapiente qui dolores soluta reiciendis explicabo, maxime tenetur.</p>
{% endblock %}